@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: barlow-condensed;
    src: url(../fonts/barlow-condensed.semibold.ttf);
}

/* Setting default styling rules */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;

}



body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
    font-weight: bold;
    background-color: #1f2833;

}

h1,
h2,
h3,
h4 {
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #66fcf1;
}

p {
    color: white;
}


/* Header Image and H1 */

.heading-content {
    background: url(../images/heading.jpg) no-repeat center center;
    width: 100%;
    height: 325px;
    object-fit: contain;
    background-size: cover;
}


.h1-text {
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
        0px 0px 20px black;
    border: 5px solid #45a29e;
    border-radius: 5px;
    background-color: rgba(197, 198, 199, 0.6);
    margin-top: 53px;
    margin-left: 36%;
    margin-right: 38%;
    height: 147px;
    padding-top: 40px;
}

#heading-link {
    text-decoration: none;
}



/* nav bar links style */

.nav-link {
    font-size: larger;
    color: #c5c6c7;
    padding: 16px;
    margin-bottom: 20px;
}

.nav-link:hover {
    background-color: rgba(102, 252, 241, .4);
    color: white;
}

.active {
    border-bottom: 2px solid #45a29e;
    color: #66fcf1;
}


/* Navbar animation */
/* Icon Bounce resource from https://github.com/IanLunn/Hover */
.hvr-icon-bounce {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-bounce .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-bounce:hover .hvr-icon,
.hvr-icon-bounce:focus .hvr-icon,
.hvr-icon-bounce:active .hvr-icon {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Footer styles */
#footer-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3a3a3a;
    min-height: 50px;

}

.page-footer {
    background-color: #3a3a3a;
    width: 100%;
    min-height: 52px;
    padding-top: 8px;

}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-link {
    font-size: 32px;
    color: #66fcf1;
    padding-right: 30px;
}

.footer-text {
    font-family: barlow-condensed, sans-serif;
    color: #66fcf1;
    font-size: 21px;
    text-align: center;
    position: relative;
    left: 50px;
}


/* index page heading */

/* Email sign-up styling */

.email-sign-up {
    display: block;
    padding: 20px;
    color: white;
    text-align: center;
    border-style: solid;
    border: 4px solid #45a29e;
    border-radius: 5px;
    background-color: #3a3a3a;
    width: 350px;
    position: relative;
    float: right;
    margin-right: 50px;

}

#email-form>h2 {
    font-size: 40px;
}

#email-form>p {
    font-size: 25px;
    padding: 25px;
    font-weight: 900;
}

#email-textbox {
    width: 250px;
    height: 31px;
    text-align: center;
    border: 3px solid #45a29e;
    border-radius: 5px;
}

::placeholder {
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    color: #1f2833;
    opacity: .5;
}

#sign-up {
    width: 328px;
    height: 39px;
    margin-top: 10px;
    color: #66fcf1;
    background-color: #1f2833;
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 23px;
    border: 2px solid #fff;
    border-radius: 60px;
}

#privacy-link {
    margin-top: 10px;
    font-weight: bolder;
}

#privacy-link>a {
    color: #66fcf1;
    font-size: 17px;
}

#privacy-link>a:hover {
    color: #45a29e;
}

/* index.html main image box */
.main-image-box {
    background: url(../images/smooth-sea.jpg) no-repeat center center;
    height: 600px;
    width: 65%;
    object-fit: contain;
    clear: left;
    margin-left: 25px;
}



/* privacy.html style */
#privacy-heading {
    font-size: 80px;
    text-align: center;
    margin-bottom: 61px;
}

.privacy-style {
    display: block;
    margin-bottom: 5%;
    color: white;
    font-size: 19px;
    margin-left: 25%;
    width: 50%;
}

.privacy-style>div {
    margin-top: 25px;
    word-spacing: .25em;
}

h3[id^="policy-"] {
    text-align: center;
    font-size: 33px;
}


h4 {
    font-size: 19px;
}

.policy-text-style {
    margin-top: 20px;
}

#table-of-contents {
    text-align: center;
    list-style-position: inside;
    line-height: 43px;
}

.li-style {
    text-align: left;
    list-style-position: inside;
    margin: 13px 0;

}

.fa-hashnode {
    font-size: large;
    color: #66fcf1;
}

.imbedded-ul {
    margin-left: 100px;
    margin-top: 15px;
    text-align: left;
}

#contents-list {
    background-color: transparent !important;
}

.privacy-list {
    color: #45a29e;
}

.privacy-list:hover {
    color: #ff8080;
}

:target {
    background-color: rgba(197, 198, 199, .3);
    border-radius: 6px;
    padding: 13px;
}

/* return to contents list link */
.return-to-content {
    border: 2px solid #66fcf1;
    border-radius: 20px;
    width: fit-content;
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    position: sticky;
    top: 85%;
    right: 2%;
    float: right;
}


.return-to-content>a {
    color: #45a29e;
    padding: 8px;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: x-large;
}

.return-to-content:hover {
    box-shadow: 0px 0px 9px 8px rgb(102 252 241);
}

#business-address {
    margin-left: 40%;
    line-height: 30px;
}


/* Styling for relax.html */

.youtube-style {
    width: 70%;
    height: 761px;

}

#audio-text {
    color: white;
    background-color: #3a3a3a;
    border: 4px solid #45a29e;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}

#audio-text>p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    margin: 2%;
    width: 90%;
}

.contents-style {
    margin-top: 5px !important;
    width: 1226px;
}

.col-4>img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border: 2px solid #45a29e;
    border-radius: 10px 10px 0 0;
}

.col-4>audio {
    background-color: #45a29e;
    width: 100%;

}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #45a29e;
    border: 1px solid;

}

.image-gif {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.rounded {
    border: 10px solid #45a29e;
}

#fix-gif {
    height: 498px;
}

.youtube-style {
    border: 10px solid #45a29e;
    border-radius: 10px;
    margin-bottom: 80px;
}

/* Create four equal columns that sits next to each other */
.gif-assets {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gif-assets img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}







/* Contact form page contact.html */
.contact {
    text-align: center;
}

.form-style {
    display: inline-block;
    background-color: #3a3a3a;
    width: 50%;
    box-shadow: 28px 16px #45a29e;
    border-radius: 10px;

}

.form-title {
    padding-bottom: 10px;
    border-bottom: 4px solid #c5c6c7;
    width: 51vh;
    font-size: 45px;
}

.subtitle {
    width: 51vh;
    font-size: 20px;
}

.label_placeholder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    font-size: 23px;
    font-family: Lato, sans-serif;
    color: #45a29e;
}

.input {
    border-radius: 5px;
    box-shadow: 6px 7px 0px 1px #45a29e;
    width: 51vh;
    padding: 5px;
}

label {
    font-family: Lato, sans-serif;
    color: white;
    font-size: 20px;
}

textarea {
    height: 286px;
    font-family: Lato, sans-serif;
    padding: 5px;
}

.submit {
    width: 51vh;
    border-radius: 5px;
    background-color: #66fcf1;
    font-family: lato, sans-serif;
    height: 50px;
    transition: background-color .5s;
}

/* Submit button animation from https://codepen.io/nrowe/pen/PoaLxN */

.btn:hover {
    background-image: linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1) 100%);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s;
}

/* successful submission page submission.html */

.submission-page {
    margin-top: 120px;
    display: block;
    text-align: center;
    border: 10px solid #45a29e;
    border-radius: 26px;
    width: 65%;
    position: relative;
    left: 284px;
    padding: 41px;
}

#submission-heading {
    font-size: 60px;
}

#submission-text {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}

#submission-link {
    font-size: 30px;
    color: #66fcf1;
}

#submission-image {
    width: auto;
    height: 400px;
    border: 5px solid #45a29e;
    border-radius: 50% 50% 0 0;
}