@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: barlow-condensed;
    src: url(../fonts/barlow-condensed.semibold.ttf);
}

/* Setting default styling rules */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;

}

.image-width,
img,
audio {
    width: 100%;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
    font-weight: bold;
    background-color: #1f2833;

}



h1,
h2,
h3,
h4 {
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #66fcf1;
}

p {
    color: white;
}

.header {
    background: url(../images/heading.jpg) no-repeat center center;
    background-size: cover;
}

.hero {
    display: flex;
    align-items: center;
    color: #66fcf1;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
        0px 0px 20px black;
}

.h1-style {
    border: 15px solid #45a29e;
    border-radius: 40px;
    background-color: rgba(197, 198, 199, 0.6);
    padding: 2%;
    white-space: nowrap;
    margin: 12vh 0 4vh 0;
}

.h1-style h1 {
    font-size: 4vw;
}

a {
    text-decoration: none;
}



/* Header Image and H1 */

.heading-content {
    background: url(../images/heading.jpg);
    background-size: cover;
}


.h1-text {
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
        0px 0px 20px black;
    border: 5px solid #45a29e;
    border-radius: 5px;
    background-color: rgba(197, 198, 199, 0.6);

}

#heading-link {
    text-decoration: none;
}



/* nav bar links style */

.nav-link {
    font-size: larger;
    color: #c5c6c7;
    padding: 16px;
    margin-bottom: 20px;
}

.nav-link:hover {
    background-color: rgba(102, 252, 241, .4);
    color: white;
}

.active {
    border-bottom: 2px solid #45a29e;
    color: #66fcf1;
}


/* Navbar animation */
/* Icon Bounce resource from https://github.com/IanLunn/Hover */
.hvr-icon-bounce {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-bounce .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-bounce:hover .hvr-icon,
.hvr-icon-bounce:focus .hvr-icon,
.hvr-icon-bounce:active .hvr-icon {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Footer styles */
#footer-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3a3a3a;
    min-height: 50px;

}


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-color {
    background-color: #3a3a3a;
    height: 6vh;

}

.foot-link {
    font-size: 37px;
    color: #66fcf1;
}

.footer-style {

    background-color: #3a3a3a;
}

/* index page heading */

/* Email sign-up styling */


.email-sign-up {
    padding: 20px;
    color: white;
    border-style: solid;
    border: 4px solid #45a29e;
    border-radius: 5px;
    background-color: #3a3a3a;
    margin-bottom: auto;
    width: 95vw;
    height: 95%;

}

.su-text {
    font-size: 24px;
    padding: 31px;
}

#sign-up {
    width: 90%;
    height: 39px;
    margin-top: 10px;
    color: #66fcf1;
    background-color: #1f2833;
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2vh;
    border: 2px solid #fff;
    border-radius: 60px;
}

#email-textbox {
    width: 80%;
    height: 31px;
    text-align: center;
    border: 3px solid #45a29e;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
    width: 80%;
    padding: 2%;
}

.welcome-screen {
    font-size: 24px;
    border: 5px solid #45a29e;
    border-radius: 5px;
    background-color: #3a3a3a;
    padding: 21px;
    height: 100%;
}

.welcome-screen p {
    padding-top: 60px;
}

.welcome-screen h2 {
    font-size: 65px;
}

#sign-up:hover {
    color: #1f2833;
    background-color: #66fcf1;
}

#privacy-link {
    margin-top: 10px;
    font-weight: bolder;
}

#privacy-link>a {
    color: #66fcf1;
    font-size: 17px;
}

#privacy-link>a:hover {
    color: #45a29e;
}


/* privacy.html style */
#privacy-heading {
    font-size: 80px;
    text-align: center;
    margin-bottom: 61px;
}

.privacy-style {
    display: block;
    margin-bottom: 5%;
    color: white;
    font-size: 19px;
    margin-left: 25%;
    width: 50%;
}

.privacy-style>div {
    margin-top: 25px;
    word-spacing: .25em;
}

h3[id^="policy-"] {
    text-align: center;
    font-size: 33px;
}


h4 {
    font-size: 19px;
}

.policy-text-style {
    margin-top: 20px;
}

#table-of-contents {
    text-align: center;
    list-style-position: inside;
    line-height: 43px;
}

.li-style {
    text-align: left;
    list-style-position: inside;
    margin: 13px 0;

}

.fa-hashnode {
    font-size: large;
    color: #66fcf1;
}

.imbedded-ul {
    margin-left: 100px;
    margin-top: 15px;
    text-align: left;
}

#contents-list {
    background-color: transparent !important;
}

.privacy-list {
    color: #45a29e;
}

.privacy-list:hover {
    color: #ff8080;
}

:target {
    background-color: rgba(197, 198, 199, .3);
    border-radius: 6px;
    padding: 13px;
}

/* return to contents list link */
.return-to-content {
    border: 2px solid #66fcf1;
    border-radius: 20px;
    width: fit-content;
    font-family: barlow-condensed, sans-serif;
    text-transform: uppercase;
    position: sticky;
    top: 85%;
    right: 2%;
    float: right;
}


.return-to-content>a {
    color: #45a29e;
    padding: 8px;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: x-large;
}

.return-to-content:hover {
    box-shadow: 0px 0px 9px 8px rgb(102 252 241);
}

#business-address {
    margin-left: 40%;
    line-height: 30px;
}


/* Styling for relax.html */

#audio-text {
    color: white;
    background-color: #3a3a3a;
    border: 4px solid #45a29e;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}

#audio-text>p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    margin: 2%;
    width: 90%;
}

.player-s>img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border: 2px solid #45a29e;
    border-radius: 10px 10px 0 0;
}

.player-s>audio {
    background-color: #45a29e;
    width: 100%;

}

.contents-style {
    margin-top: 5px !important;

}


audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #45a29e;
    border: 1px solid;

}

.image-gif {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rounded {
    align-items: center;
    border: 10px solid #45a29e;
}

.youtube-style {
    border: 10px solid #45a29e;
    border-radius: 10px;
    margin-bottom: 80px;

}

.gif-assets {
    flex: 25%;
    width: 100%;
}

.gif-assets img {
    margin-top: 8px;
    vertical-align: middle;

}

/* iframe for youtube */

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Contact form page contact.html */
.contact {
    text-align: center;
}

.form-style {
    display: inline-block;
    background-color: #3a3a3a;
    box-shadow: 28px 16px #45a29e;
    border-radius: 10px;

}

.form-title {
    padding-bottom: 10px;
    border-bottom: 4px solid #c5c6c7;
    width: 51vh;
    font-size: 45px;
}

.subtitle {
    width: 51vh;
    font-size: 20px;
}

.input {
    border-radius: 5px;
    box-shadow: 6px 7px 0px 1px #45a29e;
    width: 51vh;
    padding: 5px;
}

label {
    font-family: Lato, sans-serif;
    color: white;
    font-size: 20px;
}

textarea {
    height: 286px;
    font-family: Lato, sans-serif;
    padding: 5px;
}

.submit {
    width: 51vh;
    border-radius: 5px;
    background-color: #66fcf1;
    font-family: lato, sans-serif;
    height: 50px;
    transition: background-color .5s;
}

/* Submit button animation from https://codepen.io/nrowe/pen/PoaLxN */

.btn:hover {
    background-image: linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1) 100%);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s;
}

/* successful submission page submission.html */

.submission-page {
    margin-top: 13px;
    padding: 41px;
    padding-top: 26px;
}

#submission-heading {
    font-size: 60px;
}

#submission-link {
    font-size: 30px;
    color: #66fcf1;
}

.submission-image {
    margin-left: 32px;
    height: auto;
    width: 90%;
}

#submission-image {
    border: 5px solid #45a29e;
    border-radius: 50% 50% 0 0;
    display: flex;
    vertical-align: middle;

}

.thank-you {
    width: 70vw;
}

.contain-height {
    height: 100%;
}

.fit-screen {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}


@media (max-width: 600px) {
    .rounded {
        width: 95vw;
    }

    .submission-image {
        width: 100%;
        margin-left: 0;
    }

    #submission-link {
        font-size: 20px;
    }

    .submission-page {
        margin-top: 2px;
        border-radius: 0;
        border: 10px solid #45a29e;
    }

    .iframe-container {
        width: 94vw;

    }

    .email-form {

        margin-top: 1.5rem;
    }

    .h1-style h1 {
        font-size: 9vw;
    }

    .h1-style {
        border: 3px solid #45a29e;
        border-radius: 10px;
        padding: 2%;
    }
}